.board {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #a6a6a6;
  background-image:
    radial-gradient(#d1d1d1 0.8px, transparent 0.8px),
    radial-gradient(#d1d1d1 0.8px, transparent 0.8px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  overflow: hidden;
}

